@media screen and (max-width: 1350px) {
  .group__column:last-child { padding-left: 15px; }
}

@media screen and (max-width: 1250px) {
  .group {
    .title { margin-bottom: 15px; }

    &__list {
      padding-left: 0;

      &-item { padding-left: 30px; }
    }
  }
}

@media screen and (max-width: 1150px) {
  .group {
    &__column {
      &:first-child { width: 35%; }
    }
  }
}
@media screen and (max-width: 1025px) {
  .group {
    .title { margin-bottom: 15px; }

    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__column {
      margin-bottom: 20px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
        padding: 0;

        &::after { display: none; }
      }
    }

    &__img {
      height: 100%;
      margin-bottom: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-after {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          height: 100%;
          width: 10%;
          right: 0;
          top: 0;
          background-color: #da353f;
        }
      }

      &::after { display: none; }


    }

    &__list {
      padding-left: 0;

      &-item { padding-left: 30px; }
    }
  }
}
@media screen and (max-width: 1040px) {
  .menu {
    &__list {
      display: none;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 90px;
        width: 100%;
        height: 1px;
        background-color: #eeeeee;
      }

      &.active {
        display: block;
        background-color: #fff;
        border-radius: 10px;
        padding: 50px 20px 20px 20px;
        text-align: right;

        .menu__list-item { margin-right: 0; }

        .menu__link {
          display: inline-flex;
          padding: 15px;
          color: #000;

          &:hover { text-shadow: 0 0 .65px #000, 0 0 .65px #000; }
        }
      }
      &-item {
        &:last-child {
          margin-top: 20px;
          padding: 5px 0;
        }
      }
    }

    &__burger { display: inline-block; }
  }
}
@media screen and (max-width: 900px) {
  .logo {
    img {
      max-width: 100%;
      width: 59px;
      height: 47px;
    }
  }

  .partners {
    &__inner { padding: 35px 0; }

    &__row {
      margin-bottom: 0;
      flex-direction: column;
      align-items: center;
    }

    &__block { min-height: 90px; }

    &__item {
      margin-bottom: 50px;
      &:last-child { margin-bottom: 0; }
    }
  }

  .information {
    &:after { display: none; }

    &__inner {
      flex-direction: column;

      .title { line-height: 36px; }
    }

    &__column {
      flex: 1 0 100%;
      margin-bottom: 20px;

      &:last-child { margin-bottom: 0; }

      &-center {
        position: relative;
        padding: 30px 0;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          background-color: #da353f;
          width: 30%;
          height: 100%;
          right: -15px;
        }
      }
    }

    &__block { width: 100%; }

    &__img {
      position: relative;
      z-index: 1;
    }
  }

  .contact {
    .title { margin-bottom: 25px; }

    &__title { font-size: 22px; }

    &::before { width: 100%; }

    &__column {
      flex: 1 0 100%;

      &:nth-child(2) { display: none; }
    }
  }
}

@media screen and (max-width: 860px) {
  .top__title {
    font-size: 35px;
    line-height: 47px;
  }
}
@media screen and (max-width: 768px) {
  .top__title {
    font-size: 31px;
    line-height: 42px;
  }
  .title {
    font-size: 26px;
    line-height: 36px;
  }

  .header__title {
    font-size: 32px;
    line-height: 48px;
  }

  .group {
    padding: 50px 0;

    &__img { text-align: center; }

    &__list-item { width: auto; }
  }

  .partners { padding-top: 50px; }

  .information {
    padding: 45px 0;
    &__text-nowrap { white-space: normal; }
  }

  .charity {
    padding: 50px 0;
    &__inner { flex-direction: column; }
    &__column {
      margin-bottom: 30px;
      margin-right: 0;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
        &:before {
          top: 63%;
          padding: 4rem 17rem;
        }
      }
    }
    &__img {
      width: 100%;
    }
  }

  .contact { padding: 45px 0; }

  #toTop { bottom: 25px; }
}

@media screen and (max-width: 630px) {
  .top {
    &__bottom { width: 60%; }

    &__img { width: 40%; }
  }
}

@media screen and (max-width: 470px) {
  .top {
    &__block { width: 100%; }

    &__title {
      font-size: 24px;
      line-height: 48px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 400px) {
  .title { font-size: 25px }
  .top__title {
    font-size: 19px;
    line-height: 32px;
  }
}


@media screen and (max-height: 470px) {
  .top {
    &__block { width: 90%; }

    &__title {
      font-size: 24px;
      line-height: 48px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-height: 400px) {
  .top {
    &__block { width: 90%; }

    &__column {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }

    &__block { margin: auto 0 75px 0; }

    &__title {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-height: 370px) {
  .top {
    &__column {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }

    &__block {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }
}