@import "vars";
@import "libs";
@import "fonts";

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  letter-spacing: 0.02em;
  line-height: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #292323;
  text-transform: uppercase;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

/*======================================= HEADER ============================================*/

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  z-index: 10;

  &__inner {
    display: flex;
    position: relative;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img {
      max-width: 100%;
    }
  }
}

.top {
  position: relative;
  background-color: #da353f;

  &__inner {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  &__column {
    width: 50%;
  }

  &__block {
    width: 80%;
  }

  &__title {
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 18px;
    color: #fff;
    line-height: 28px;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;

    img {
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

/*======================================= / HEADER ============================================*/

/*======================================= MENU ============================================*/

.menu {
  position: relative;
  top: 0;
  right: 25px;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
        display: inline-flex;
        align-items: center;
      }
    }

    &.active {
      position: absolute;
      right: -25px;
      top: -25px;
      width: 195px;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: text-shadow .3s;
    display: inline-flex;
    align-items: center;

    &:hover { text-shadow: 0 0 .65px #fff, 0 0 .65px #fff; }
  }

  &__burger {
    display: none;
    cursor: pointer;
    width: 37px;
    height: 26px;
    position: relative;
    transition: 0.25s ease-in-out;
    background-color: transparent;
    right: 0;
    top: 0;
    outline: none;
    border: 0;
    padding: 0;

    span {
      height: 2px;
      border-radius: 10px;
      position: absolute;
      background-color: #000;
      right: 0;
      border: 1px solid #000;
      opacity: 1;
      transition: all .5s;

      &:nth-child(1) {
        width: 100%;
        top: 0;
      }

      &:nth-child(2) {
        width: 75%;
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        width: 50%;
        bottom: 0;
      }
    }

    &.active {
      position: absolute;
      top: -10px;

      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: auto;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          width: 100%;
          top: 13px;
        }
      }
    }
  }

  &__img { margin-left: 10px; }
}

/*======================================= /MENU ============================================*/

/*======================================= GROUP ============================================*/

.group {
  position: relative;
  padding: 100px 0;
  background-color: #f4f4f4;
  overflow: hidden;

  &__inner { display: flex; }

  &__column {
    width: 45%;
    img {
      max-width: 100%;
      vertical-align: middle;
      object-fit: cover;
    }

    &:last-child {
      padding: 20px 0 20px 20px;

      &::after {
        content: '';
        position: absolute;
        height: 77%;
        width: 2%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #da353f;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    color: #292323;
  }

  &__text {
    letter-spacing: 0.02em;
    color: #000000;
    margin: 1rem 0;
    & > span { font-weight: bold; }
  }

  &__list {
    list-style: none;
    padding: 0 0 0 65px;

    &-item {
      position: relative;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      width: 500px;

      &::before {
        content: '';
        position: absolute;
        background: url("../img/arrow-group.svg") no-repeat left top;
        width: 16px;
        height: 16px;
        display: block;
        margin-left: -30px;
      }

      & > p {
        & > span {
          font-weight: bold;

          & > a {
            color: #000;
            transition: all .5s;
            &:hover { color: #da353f; }
          }
        }
      }
    }
  }
}

/*======================================= /GROUP ============================================*/

/*======================================= PARTNERS ============================================*/

.partners {
  padding-top: 100px;

  &__inner { padding: 75px 0; }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;

    &-around {
      justify-content: space-around;
    }
  }

  &__item {
    width: 276px;
    height: auto;
  }

  &__block {
    display: flex;
    min-height: 150px;
    margin-bottom: 20px;
  }

  &__number {
    font-size: 90px;
    line-height: 75px;
    color: #da353f;
    margin-right: 15px;
  }

  &__img {
    & > img {
      vertical-align: middle;
    }
  }
}

/*======================================= /PARTNERS ============================================*/

/*======================================= INFORMATION ============================================*/

.information {
  padding: 60px 0;
  background-color: #f4f4f4;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #da353f;
    width: 25%;
    height: 100%;
    right: 0;
  }

  &__inner {
    display: flex;
    position: relative;
    z-index: 1;
  }

  &__column {
    flex: 1;

    &-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__block { width: 90%; }

  &__title {
    font-weight: 700;
    margin: 35px 0;
  }

  &__text {
    margin-top: 45px;

    span { font-weight: 700; }

    &-nowrap { white-space: nowrap; }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 25px;

    &-item {
      margin-bottom: 20px;

      &:last-child { margin-bottom: 0; }

      &::before {
        content: '';
        position: absolute;
        background: url("../img/arrow-group.svg") no-repeat left top;
        width: 16px;
        height: 16px;
        display: block;
        margin-left: -25px;
        margin-top: 3px;
      }
    }
  }

  &__img {
    img { max-width: 100%; }
  }

  &__link {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    outline: none;
    color: #da353f;
    transition: all .5s;

    &:hover {
      color: #292323;
    }
  }
}

/*======================================= /INFORMATION ============================================*/

/*======================================= CHARITY ============================================*/

.charity {
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  &__inner {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__column {
    flex: 0 0 50%;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        right: -50%;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        background-color: #f4f4f4;
        z-index: -1;
        height: 100%;
        padding: 3.4rem 14rem;
      }
    }
  }
  &__item {}
  &__block {}
  &__img {
    max-width: 100%;
    display: block;
  }
  &__logo {
    margin-bottom: 20px;
    max-width: 100%;
    vertical-align: middle;
  }
  &__text:not(:last-child) {
    margin-bottom: 1rem;
  }
}

/*======================================= /CHARITY ============================================*/

/*======================================= CONTACT ============================================*/

.contact {
  padding: 65px 0;
  position: relative;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 68%;
    height: 100%;
    background-color: #da353f;
  }

  &__inner {
    display: flex;
    position: relative;
    z-index: 1;
  }

  &__column {
    flex: 0 0 50%;

    .title {
      color: #fff;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 16px;
  }

  &__link {
    color: #fff;
    transition: all .5s;

    &:hover {
      color: #292323;
    }
  }

  &__img {
    img { max-width: 100%; }
  }
}

/*======================================= /CONTACT ============================================*/

#toTop {
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 50px;
  right: 2%;
  cursor: pointer;
  display: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, .7);
  transition: all .5s;
  z-index: 5;

  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
    @media screen and (min-width: 769px) {
      .toTop__img { top: -5px; }
    }
  }
}

.toTop__img {
  margin: 8px auto;
  position: relative;
  display: block;
  top: 0;
  transition: all .5s;
  color: #fff;
  width: 25px;
  height: 25px;
}


@import "media";
